<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942712372335-96aprf48qnibpb9cmrfe7lnmaugc6upi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942712372335-96aprf48qnibpb9cmrfe7lnmaugc6upi</string>
	<key>API_KEY</key>
	<string>AIzaSyCN7trW4gc7ELWedlKBGO4twxVdO3nEyuA</string>
	<key>GCM_SENDER_ID</key>
	<string>942712372335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doAn</string>
	<key>PROJECT_ID</key>
	<string>do-an-98354</string>
	<key>STORAGE_BUCKET</key>
	<string>do-an-98354.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942712372335:ios:fdd50c9c31945992ed219a</string>
</dict>
</plist>